* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple: hsl(259, 100%, 65%);
  --error-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
  color: var(--off-black);
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  padding: 0 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

h1 {
  font-size: 46px;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.calculator-card {
  background-color: var(--white);
  padding: 50px 25px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 64px;
}

.inputs {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 0 0 60px 0;
}

.inputs div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputs input {
  width: 100%;
  padding: 12px 0 12px 15px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  caret-color: var(--primary-purple);
}

.inputs input:focus {
  outline: solid 1px var(--primary-purple);
}

.inputs input::placeholder {
  color: var(--light-grey);
}

.inputs label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* errors */

.valid {
  border: solid 1px var(--light-grey);
}

.invalid {
  border: solid 1px var(--error-red);
}

.valid-label {
  color: var(--smokey-grey);
}

.invalid-label {
  color: var(--error-red);
}

.error-message {
  font-size: 10px;
  color: var(--error-red);
}

.error-input {
  border-color: var(--error-red);
}

.separator {
  position: relative;
}

.separator .line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--light-grey);
}

.separator .calculate {
  border: none;
  width: 60px;
  height: 60px;
  background-color: var(--primary-purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.separator .calculate:hover {
  background-color: var(--off-black);
}

.results {
  margin: 60px 0 0 0;
}

.result {
  color: var(--primary-purple);
}

@media only screen and (max-width: 500px) {
  .separator .calculate svg {
    width: 24px;
    height: 24px;
  }

  .separator .calculate {
    position: absolute;
    top: -30px;
    left: 40%;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 72px;
  }

  .calculator-card {
    width: 670px;
    padding: 50px 46px;
    border-bottom-right-radius: 128px;
  }

  .inputs input {
    font-size: 32px;
  }

  .separator .calculate {
    width: 76px;
    height: 76px;
    position: absolute;
    top: -40px;
    right: 0;
  }

  .separator .calculate svg {
    width: 42px;
    height: 42px;
  }
}
